services:
    api:
        image: cliniciantoolkit.azurecr.io/ctk-functions:latest
        platform: linux/amd64
        ports:
            - "8000:8000"
        env_file:
            - .env
        depends_on:
            - postgres
            - languagetool

    postgres:
        image: postgres:16
        platform: linux/amd64
        ports:
            - 5432:5432
        env_file:
            - .env
        volumes:
            - ./postgresql:/var/lib/postgresql/data
            - ./init.psql:/docker-entrypoint-initdb.d/init.sql

    languagetool:
        image: erikvl87/languagetool
        ports:
            - "8010:8010"

volumes:
    postgres_data:
