@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@import "@cmi-dair/skeleton-themes/cmi-light";

/* Vditor does not work well with Tailwinds default list styles.*/
.vditor-reset {
    ol > li {
        list-style-type: decimal;
    }
}

.indented-list {
    ol,
    ul {
        padding-left: 2em;
    }
    ol > li {
        list-style-type: decimal;
    }
    ul > li {
        list-style-type: disc;
    }
    ol,
    ul > li::marker {
        padding-left: 2em;
    }
}
