[data-theme="cmi-light"] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-tertiary-700);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: system-ui;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: system-ui;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 8px;
    --radius-container: 4px;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);

    /* Primary Color */
    --color-primary-50: oklch(94.41% 0.014 221.85deg);
    --color-primary-100: oklch(91.37% 0.022 221.85deg);
    --color-primary-200: oklch(88.34% 0.03 221.85deg);
    --color-primary-300: oklch(80.86% 0.047 221.85deg);
    --color-primary-400: oklch(66.69% 0.074 221.85deg);
    --color-primary-500: oklch(49.02% 0.107 221.85deg);
    --color-primary-600: oklch(44.51% 0.097 221.85deg);
    --color-primary-700: oklch(37.25% 0.081 221.85deg);
    --color-primary-800: oklch(30.2% 0.065 221.85deg);
    --color-primary-900: oklch(24.71% 0.053 221.85deg);
    --color-primary-950: oklch(19.22% 0.041 221.85deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-dark);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);

    /* Secondary Color */
    --color-secondary-50: oklch(96.27% 0.022 193.17deg);
    --color-secondary-100: oklch(94.9% 0.03 193.17deg);
    --color-secondary-200: oklch(93.53% 0.038 193.17deg);
    --color-secondary-300: oklch(89.41% 0.063 193.17deg);
    --color-secondary-400: oklch(81.57% 0.104 193.17deg);
    --color-secondary-500: oklch(73.73% 0.133 193.17deg);
    --color-secondary-600: oklch(67.06% 0.121 193.17deg);
    --color-secondary-700: oklch(56.47% 0.101 193.17deg);
    --color-secondary-800: oklch(45.88% 0.081 193.17deg);
    --color-secondary-900: oklch(37.65% 0.066 193.17deg);
    --color-secondary-950: oklch(30.98% 0.054 193.17deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-600: var(--color-secondary-contrast-light);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);

    /* Tertiary Color */
    --color-tertiary-50: oklch(90.2% 0.009 249.49deg);
    --color-tertiary-100: oklch(86.67% 0.013 249.49deg);
    --color-tertiary-200: oklch(83.14% 0.016 249.49deg);
    --color-tertiary-300: oklch(73.73% 0.025 249.49deg);
    --color-tertiary-400: oklch(50.2% 0.043 249.49deg);
    --color-tertiary-500: oklch(26.67% 0.061 249.49deg);
    --color-tertiary-600: oklch(24.31% 0.056 249.49deg);
    --color-tertiary-700: oklch(20.39% 0.047 249.49deg);
    --color-tertiary-800: oklch(16.47% 0.038 249.49deg);
    --color-tertiary-900: oklch(13.53% 0.031 249.49deg);
    --color-tertiary-950: oklch(11.37% 0.026 249.49deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);

    /* Success Color */
    --color-success-50: oklch(93.33% 0.036 147.18deg);
    --color-success-100: oklch(91.18% 0.042 147.18deg);
    --color-success-200: oklch(89.02% 0.048 147.18deg);
    --color-success-300: oklch(82.75% 0.066 147.18deg);
    --color-success-400: oklch(70.2% 0.102 147.18deg);
    --color-success-500: oklch(57.65% 0.138 147.18deg);
    --color-success-600: oklch(52.94% 0.127 147.18deg);
    --color-success-700: oklch(44.71% 0.107 147.18deg);
    --color-success-800: oklch(36.47% 0.087 147.18deg);
    --color-success-900: oklch(30.2% 0.072 147.18deg);
    --color-success-950: oklch(23.92% 0.057 147.18deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-light);
    --color-success-contrast-600: var(--color-success-contrast-light);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);

    /* Warning Color */
    --color-warning-50: oklch(98.04% 0.028 87.89deg);
    --color-warning-100: oklch(96.86% 0.035 87.89deg);
    --color-warning-200: oklch(95.69% 0.042 87.89deg);
    --color-warning-300: oklch(93.33% 0.056 87.89deg);
    --color-warning-400: oklch(88.63% 0.084 87.89deg);
    --color-warning-500: oklch(83.92% 0.112 87.89deg);
    --color-warning-600: oklch(76.86% 0.103 87.89deg);
    --color-warning-700: oklch(65.49% 0.087 87.89deg);
    --color-warning-800: oklch(54.12% 0.071 87.89deg);
    --color-warning-900: oklch(44.31% 0.058 87.89deg);
    --color-warning-950: oklch(34.51% 0.045 87.89deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-light);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);

    /* Error Color */
    --color-error-50: oklch(91.76% 0.035 12.18deg);
    --color-error-100: oklch(87.06% 0.054 12.18deg);
    --color-error-200: oklch(82.35% 0.073 12.18deg);
    --color-error-300: oklch(72.94% 0.111 12.18deg);
    --color-error-400: oklch(54.12% 0.187 12.18deg);
    --color-error-500: oklch(35.29% 0.263 12.18deg);
    --color-error-600: oklch(32.55% 0.243 12.18deg);
    --color-error-700: oklch(27.45% 0.205 12.18deg);
    --color-error-800: oklch(22.35% 0.167 12.18deg);
    --color-error-900: oklch(18.43% 0.137 12.18deg);
    --color-error-950: oklch(14.51% 0.108 12.18deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);

    /* Surface Color */
    --color-surface-50: oklch(100% 0 none);
    --color-surface-100: oklch(98.04% 0.003 83.33deg);
    --color-surface-200: oklch(96.08% 0.006 83.33deg);
    --color-surface-300: oklch(93.73% 0.009 83.33deg);
    --color-surface-400: oklch(91.37% 0.012 83.33deg);
    --color-surface-500: oklch(89.02% 0.015 83.33deg);
    --color-surface-600: oklch(81.18% 0.014 83.33deg);
    --color-surface-700: oklch(69.8% 0.012 83.33deg);
    --color-surface-800: oklch(58.43% 0.01 83.33deg);
    --color-surface-900: oklch(52.16% 0.008 83.33deg);
    --color-surface-950: oklch(38.04% 0.006 83.33deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-dark);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}
