name: npm run test

on:
    push:
        branches:
            - main
            - development
    pull_request:

env:
    AZURE_BLOB_ACCOUNT_NAME: fake
    AZURE_BLOB_SAS: fake

jobs:
    testing:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v5
              with:
                  node-version: 22.4.x
                  cache: npm
                  cache-dependency-path: package-lock.json
            - name: Install dependencies
              run: |
                  npm install
            - name: Run tests
              run: |
                  npm run test:unit

    lint:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - uses: actions/checkout@v5
            - name: Use Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: 22.4.x
                  cache: npm
                  cache-dependency-path: package-lock.json
            - run: |
                  npm install
                  npm run lint
