name: npm run test

on:
    push:
        branches:
            - main
            - development
    pull_request:

env:
    AZURE_BLOB_ACCOUNT_NAME: fake
    AZURE_BLOB_SAS: fake

jobs:
    testing:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        steps:
            - uses: actions/checkout@v6
              with:
                  submodules: true
            - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff
            - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098
            - uses: actions/setup-node@v6
              with:
                  node-version: 22.4.x
                  cache: npm
                  cache-dependency-path: package-lock.json
            - name: Install dependencies
              run: |
                  npm install
                  just build-api
            - name: Run tests
              run: |
                  npm run test:unit
            - name: Run build
              run: |
                  npm run build

    lint:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 22.4.x
                  cache: npm
                  cache-dependency-path: package-lock.json
            - run: |
                  npm install
                  npm run lint
